.list {
  text-align: center;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(69, 128, 54);
}

.link:hover,
.link:focus {
  color: rgb(60, 255, 148);
}
